/*rest styles*/
article, body, div, footer, header, h1, h2, p {
  border:0;
}


/*BODY and Container*/
.container {
  background-color: white;
  max-width: 640px;
  margin: 0 auto;
}


/*HEADINGS*/
h1 {
  font-weight: bold;
  font-size: 42px;
  color: black;
  text-align: center;
  background-color: purple;
  padding: 0.4em;
}

/*aside bar*/
 aside{
  width: 70%;
  padding:0.1em 0;
 }

 aside p {
  color black;
  font-size: 23px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: purple;
  padding:0.5em 0;
  
}

/*article*/
article {
  
}
article li {
  font-size: 20px;
}

article p {
  font-size: 15px;
  width: 40%;
}

img {
  float: right;
  margin: 20px;
}